body {
    background-color: #fff;
    padding-top: 8%;
}

img {
    width: 100%;
}

.navbar {
    padding: 2%;
}

.navbar-custom {
    background-color: #000;
}

.artist-name {
    text-align: center;
    font-size: 700%;
    color: #000;
    margin: 5% 0%;
}

.row-information {
    text-align: center;
    margin: 0 auto 0;
    padding: 0% 1.5%;
}

.image-container {
    padding-right: 1.5%;
    margin-bottom: 5%;
}

.artist-image {
    width: 80%;
}

.description-container {
    padding-left: 1.5%;
    margin-bottom: 5%;
}

.artist-description {
    text-align: left;
    font-size: 115%;
    line-height: 2;
}

.release-header {
    text-align: center;
    font-size: 500%;
    color: #000;
    margin: 5% 0%;
}

.row-release {
    text-align: center;
    margin: 0 auto 0;
    padding: 0% 5%;
}

.release-section {
    margin-bottom: 2%;
}

.overlay:hover .release-img {
    -webkit-filter: brightness(45%);
}

.overlay:not(:hover) .release-img {
  -webkit-filter: brightness(100%);
}

.release-section:hover .overlay-text {
    opacity: 1;
    color: #fff;
}

.release-img {
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 10px 10px 10px 2px #999999;
}

.overlay-text {
    color: #fff;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%
}

.no-release-message {
    text-align: center;
    font-size: 200%;
    color: #000;
    margin: 5% 0%;
}

.related-header {
    text-align: center;
    font-size: 500%;
    color: #000;
    margin: 5% 0%;
}

.row-related {
    text-align: center;
    margin: 0 auto 0;
    padding: 0% 5%;
}

.related-section {
    margin-bottom: 1.5%;
}

.overlay:hover .related-img {
    -webkit-filter: brightness(45%);
}

.overlay:not(:hover) .related-img {
  -webkit-filter: brightness(100%);
}

.overlay:hover .overlay-text {
    opacity: 1;
    color: #fff;
}

.related-img {
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 10px 10px 10px 2px #999999;
}

.footer {
    margin-top: 5%
}