body {
    background-color: #fff;
    padding-top: 8%;
}

img {
    width: 100%;
}

.navbar {
    padding: 2%;
}

.navbar-custom {
    background-color: black;
}

.artist-name {
    text-align: center;
    font-size: 700%;
    color: #000;
    margin: 5% 0%;
}

.row {
    text-align: center;
    margin: 0 auto 0;
    padding: 0% 1.5%;
}

.image-container {
    padding-right: 1.5%;
    margin-bottom: 5%;
}

.artist-image {
    width: 80%;
}

.description-container {
    padding-left: 1.5%;
    margin-bottom: 5%;
}

.artist-description {
    text-align: left;
    font-size: 115%;
    line-height: 2;
}

.release-header {
    text-align: center;
    font-size: 500%;
    color: #000;
    margin: 5% 0%;
}

.row {
    text-align: center;
    margin: 0 auto 0;
}

.release-section {
    margin-bottom: 1.5%;
    filter: drop-shadow(8px 8px 5px rgb(190, 190, 190));
}

.no-release-message {
    text-align: center;
    font-size: 200%;
    color: #000;
    margin: 5% 0%;
}

.footer {
    margin-top: 5%
}