body {
    background-color: #fff;
    padding-top: 6%;
}

.navbar {
    padding: 2%;
}

.navbar-custom {
    background-color: black;
}

.page-top{
    text-align: center;
    margin: 8vh auto 0;
    padding: 0 2vw;
}

.release-image {
    width: 100%;
    margin-bottom: 1vh;
}

.release-information {
    display: table-cell;
}

.release-name {
    font-size: 8vw;
    line-height: 1;
    margin-top: 3vh;
}

.artist-information {
    font-size: 3vw;
}

.artist-image {
    display: inline;
    width: 4vw;
    border-radius: 50%;
}

.artist-name {
    display: inline;
}

.tracklist {
    text-align: left;
    margin-top: 3vh;
    padding-left: 2%;
    font-size: 4vh;
    border: solid #000;
    width: 100%;
    height: 50.7vh;
    overflow-x: hidden;
    overflow-y: auto;
}