<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <!-- Style Sheets -->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">
  <link href="/static/css/artist_profile_styles.css" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <title>{{ artist_name }} Profile</title>
</head>

<body>
  <!-- NavBar -->
  <section id="nav-section">
    <div class="nav-bar">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="{{ url_for('home') }}">K-Calendar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('releases') }}">Releases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Rankings</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="artist-name">
    {{ artist_name }}
  </div>

  <div class="artist-content">
    <div class="row">
      <div class="col-lg-6 col-md-12 image-container">
        {% if artist_name in images%}
        <img src="{{ images[artist_name]['img'] }}" class="card-img-top releases-img" alt="...">
        {% else %}
        <img src="https://i.scdn.co/image/ab6761610000e5ebb1a15fd3e7c1b375dea2637a" class="card-img-top releases-img" alt="...">
        {% endif %}
      </div>
      <div class="col-lg-6 col-md-12 description-container">
        <div class="artist-description">
          LE SSERAFIM is a girl group with SOURCE MUSIC, a label under HYBE, consisting of five members of different nationalities: SAKURA,
          KIM CHAEWON, HUH YUNJIN, KAZUHA and HONG EUNCHAE. The first girl group to launch through a collaboration between HYBE and SOURCE MUSIC,
          they are taking a daring stance and saying right from the outset that they will stand at the very top. The group's name, LE SSERAFIM,
          is an anagram of the words “I'M FEARLESS.” The name captures the group's self-confidence and iron will as they go out into the world
          fearlessly and unwavering before the watchful eyes of the world. It is like an incantation to guarantee their success on the merit of
          their unbreakable poise and strength.
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div class="container footer">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
</body>

</html>