<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <!-- Style Sheets -->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">
  <link href="/static/css/artist_profile_styles.css" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <title>{{ artist_name }} Profile</title>
</head>

<body>
  <!-- NavBar -->
  <section id="nav-section">
    <div class="nav-bar">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="{{ url_for('home') }}">K-Calendar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('releases') }}">Releases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Rankings</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="artist-name">
    {{ artist_name }}
  </div>

  <div class="artist-content">
    <div class="row">
      <div class="col-lg-6 col-md-12 image-container">
        {% if artist_name in data%}
        <img src="{{ data[artist_name]['artist_image'] }}" class="artist-image" alt="...">
        {% else %}
        <img src="https://i.scdn.co/image/ab6761610000e5ebb1a15fd3e7c1b375dea2637a" class="artist-image" alt="...">
        {% endif %}
      </div>
      <div class="col-lg-6 col-md-12 description-container">
        <div class="artist-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo augue ac condimentum pharetra. 
          Phasellus quis ex id quam feugiat vestibulum. Praesent tincidunt, nibh tempus egestas consequat, lectus 
          magna accumsan nisl, sed imperdiet nunc purus imperdiet urna. Curabitur consequat elit elit, eu 
          vestibulum risus pretium ut. Aliquam ornare fringilla risus, vel consectetur metus porttitor vitae. 
          Donec id mauris quis mi porta mollis. Donec eu sem nec est tristique rutrum. Quisque lacinia est et 
          mauris ullamcorper sagittis. Maecenas ultricies diam quis ante eleifend euismod. Sed pretium magna nec 
          ipsum consectetur, in egestas purus tempus. Mauris vestibulum, nibh id elementum euismod, arcu sem porttitor 
          diam, sagittis pulvinar massa turpis in nisl. Fusce pretium tempor elit, et feugiat enim tincidunt ac. 
          Pellentesque eleifend vestibulum porta.
        </div>
      </div>
    </div>
  </div>

  <div class="release-header">
    Albums
  </div>

  <div class="albums">
    {% if data[artist_name]["releases"]["albums"]|length == 0 %}
    <div class="no-release-message">
      There are no current released albums for {{artist_name}}
      {% endif %}
    </div>
    <div class="row justify-content-center">
      {% for album in data[artist_name]["releases"]["albums"] %}
      <div class="col-lg-2 col-md-4 col-sm-6 release-section">
        <img src="{{ album['release image'] }}" class="" alt="">
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="release-header">
    EPs
  </div>

  <div class="eps">
    {% if data[artist_name]["releases"]["eps"]|length == 0 %}
    <div class="no-release-message">
      There are no current released albums for {{artist_name}}
      {% endif %}
    </div>
    <div class="row justify-content-center">
      {% for album in data[artist_name]["releases"]["eps"] %}
      <div class="col-lg-2 col-md-4 col-sm-6 release-section">
        <img src="{{ album['release image'] }}" class="" alt="">
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="release-header">
    Singles
  </div>

  <div class="singles">
    {% if data[artist_name]["releases"]["singles"]|length == 0 %}
    <div class="no-release-message">
      There are no current released albums for {{artist_name}}
      {% endif %}
    </div>
    <div class="row justify-content-center">
      {% for album in data[artist_name]["releases"]["singles"] %}
      <div class="col-lg-2 col-md-4 col-sm-6 release-section">
        <img src="{{ album['release image'] }}" class="" alt="">
      </div>
      {% endfor %}
    </div>
  </div>


  <!-- Footer -->
  <div class="container footer">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
</body>

</html>